{% extends "base.html" %}

{% block title %}Register{% endblock title %}
{% block obsah %}

<h1>Register</h1>

<form method="POST">

{% for category, message in get_flashed_messages(with_categories=True)%}
<p class="message {{category}}">{{ message }}</p>
{% endfor %}

<table>
    <tr>
        <td>Jmeno:</td>
        <td><input type="text" name="jmeno", minlength="5"></td>
    </tr>
    <tr>
        <td>Heslo:</td>
        <td><input type="password" name="heslo1", minlength="5"></td>

    </tr>
     <tr>
        <td>Ověření hesla:</td>
        <td><input type="password" name="heslo2", minlength="5"></td>

    </tr>
    <tr>
        <td></td>
        <td><button>Registrovat</button></td>
    </tr>
</table>

</form>

{% endblock obsah %}