{% extends 'base.html' %}

{%block title%}Přehled týmů{%endblock title%}

{%block obsah%}

<h1>Tabulka střelců NHL sezóny 2023/24:</h1>

<section class="content">
  <div>
    <table>
        <thead>
            <tr>
                <th>Pořadí</th>
                <th>Hráč</th>
                <th>Tým</th>
                <th>B</th>
                <th>G</th>
                <th>A</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>1.</td>
              <td>Kucherov N.</td>
              <td>Tampa BaY Lightning</td>
              <td>67</td>
              <td>28</td>
              <td>39</td>
          </tr>
          <tr>
              <td>2.</td>
               <td>MacKinnon N.</td>
              <td>Colorado Avalanche</td>
              <td>67</td>
              <td>22</td>
              <td>45</td>

          </tr>
          <tr>
              <td>3.</td>
              <td>Panarin A.</td>
              <td>New York Rangers</td>
              <td>57</td>
              <td>26</td>
              <td>31</td>
          </tr>
          <tr>
              <td>4.</td>
              <td>Pastrňák D.</td>
              <td>Boston Bruins</td>
              <td>57</td>
              <td>25</td>
              <td>32</td>
          </tr>
          <tr>
              <td>5.</td>
              <td>Nylander W.</td>
              <td>Toronto Maple Leafs</td>
              <td>57</td>
              <td>21</td>
              <td>36</td>
          </tr>
        </tbody>
      </table>
  </div>
{%endblock obsah%}