{% extends 'base.html' %}

{%block title%}Přehled týmů{%endblock title%}

{%block obsah%}

<h1>Týmy NHL sezóny 2023/24:</h1>
 
 <section class="content">
        
        <div class="conference">

            <h2>Eastern Conference</h2>
            <div class="division">

                <h3>Atlantic Division</h3>
                <ul>
                    <li>Boston Bruins</li>
                    <li>Tampa Bay Lightning</li>
                    <li>Toronto Maple Leafs</li>
                    <li>Montreal Canadiens</li>
                    <li>Florida Panthers</li>
                    <li>Detroit Red Wings</li>
                    <li>Buffalo Sabres</li>
                    <li>Ottawa Senators</li>
                </ul>
            </div>

            <div class="division">
                <h3>Metropolitan Division</h3>
                <ul>
                    <li>Washington Capitals</li>
                    <li>New York Rangers</li>
                    <li>Pittsburgh Penguins</li>
                    <li>Carolina Hurricanes</li>
                    <li>Philadelphia Flyers</li>
                    <li>Columbus Blue Jackets</li>
                    <li>New York Islanders</li>
                    <li>New Jersey Devils</li>
                </ul>
            </div>
        </div>

        <div class="conference">
            <h2>Western Conference</h2>
            <div class="">
                <h3>Central Division</h3>
                <ul>
                    <li>Colorado Avalanche</li>
                    <li>Dallas Stars</li>
                    <li>Minnesota Wild</li>
                    <li>St. Louis Blues</li>
                    <li>Chicago Blackhawks</li>
                    <li>Arizona Coyotes</li>
                    <li>Nashville Predators</li>
                    <li>Winnipeg Jets</li>
                </ul>
            </div>

            <div class="division">
                <h3>Pacific Division</h3>
                <ul>
                    <li>Vegas Golden Knights</li>
                    <li>Edmonton Oilers</li>
                    <li>Calgary Flames</li>
                    <li>Vancouver Canucks</li>
                    <li>Los Angeles Kings</li>
                    <li>Seattle Kraken</li>
                    <li>San Jose Sharks</li>
                    <li>Anaheim Ducks</li>
                </ul>
            </div>
        </div>

        <!-- Add more conferences, divisions, and teams as needed -->

  </section>


{%endblock obsah%}